<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  %>
    <%= stylesheet_link_tag "style.css" %>
  </head>

  <body>
    <div >
      <h1 >Quiz Question Generator</h1>
    </div>
    
    <div class="center">
        <%= form_with(url: "/quiz/click", method: "post") do  %>
        <%= label_tag(:query, "Search for:") %>
        <%= text_field_tag(:query) %>
        <%= submit_tag("Search") %>
        <% end %>
        <div style="white-space: pre">
          <%= @text %>
        </div>
    </div>
  </body>
</html>





